doctype html
html
	include ./jade/head.jade
	body
		.container
			.row
				.col-sm-12
					h1=title
					p=description
			.row#intro1
				.col-sm-12
					p Welcome to the game
					form
						.form-group
							label Name
							input#name(type='text')
						.form-group
							label Age
							input#age(type='number')
						//- .form-group
							label Birthday Month
							input#bmonth(type='month')
						//- .form-group
							label Birthday Day
							input#bday(type='number')
						.form-group
							label Location
							input#location(type='text')
						button.btn.btn-success Start
			.row#intro2
				.col-sm-12
					p name: 
						span.name
					p age: 
						span.age
					p location: 
						span.location
					p money: $
						span.money 0
					hr
					p Hows your life going?
					button.mood(data-mood='good') Pretty Good
					button.mood(data-mood='perfect') Get me out of here
					.hidden
						p.response
						button.buyTicket Buy a plane ticket to vegas

		include ./jade/foot.jade