//- controlPanel.jade
extends ./layout

block body
	.container
		.col-sm-12
			h1= title
			p Welcome to #{title}

		.col-md-12
			h2 The Sites
			table.table.table-striped
				thead
					tr
						th URL
						th Status
						th Symlink
						th Files
						th Config
						th Manage
				tbody
					each site in data
						tr
							td
								a(href='http://'+site.name)=site.name
							if ( site.nginx_enabled === false )
								td
									p Disabled
								td
									a.btn.btn-success(href="/symlink/create/"+site.name) Enable
							else
								td
									p Enabled
								td
									a.btn.btn-warning(href="/symlink/remove/"+site.name) Disable
							td
								a.btn.btn-primary(href="//files.hyprtxt.com/"+site.name) Files
							td
								a.btn.btn-info(href="/site/read/"+site.name) View Config
							td
								a.btn.btn-info(href="/site/"+site.name) Manage Site
		.col-md-6
			h2 Nginx Manager
			ul
				li
					a.btn.btn-primary(href="/nginx/test") test
				li
					a.btn.btn-primary(href="/nginx/reload") reload
				li
					div.input-group
						input#domain.form-control(type="text", placeholder="Search for...")
						span.input-group-btn
							button#createSite.btn.btn-default(type="button") Add Site
