//- player.jade
hr
.footer.player
	.container
		.row
			.col-sm-3
				p name: 
					span.name
				p mood: 
					span.mood
				p age: 
					span.age
				p date: 
					span.date
				p time: 
					span.time
			.col-sm-3
				p location: 
					span.location
				p money: $
					span.cash 0
				p stamina: 
					span.stamina 20
					| /20
				p hunger: 
					span.hunger 10
					| /20
			.col-sm-3
				//- p inventory: 
					span.inventory
				p spend: 
					spand.spend
				p hands played: 
					span.hands
				//- p speed: 
					span.speed
				p speed: 
					span.speedMod
				p hands per hour: 
					span.handsPerHour
			.col-sm-3
				p.footer-info Site last modified: 
					span=timestamp