//- player.jade
hr
.footer
	.container
		.row
			.col-sm-3
				p name: 
					span.name
				p mood: 
					span.mood
				p age: 
					span.age
				p today:
					span.today
			.col-sm-3
				p location: 
					span.location
				p money: $
					span.cash 0
				p stamina: 
					span.stamina 20
					| /20
				p hunger: 
					span.stamina 10
					| /20
			.col-sm-3
				p inventory: 
					span.inventory
			.col-sm-3
				p.footer-info Site last modified: 
					span=timestamp