extends layout

block body
	-page_script = 'js/lobby.js'
	.container
		.row
			.col-sm-12
				h1=title
				p=description
		.row#lobby
			.col-sm-12
				p Welcome to The Grand
				p You can checkout anytime you like, but you can never leave
				form(action='' method='get')
					input(type='hidden' name='name' value='')
					input(type='hidden' name='mood' value='')
					input(type='hidden' name='age' value='')
					input(type='hidden' name='location' value='')
					input(type='hidden' name='cash' value='')
					input(type='hidden' name='inventory' value='')
					button(data-action='loiter') loiter
					button(data-action='room.html') Go to your room
					button(data-action='buffet.html') Go to the buffet
					button(data-action='poker.html') Go to the video poker machines