extends layout

block body
	-page_script = 'js/lobby.js'
	.container
		.row
			.col-sm-12
				h1=title
				p=description
		.row#lobby
			.col-sm-12
				p Welcome to The Grand
				p You can checkout anytime you like, but you can never leave
				pre#plays
				.btn-group
					button.btn.btn-primary(data-action='loiter') loiter
					button.btn.btn-primary(data-action='room') Go to your room
					button.btn.btn-primary(data-action='buffet') Go to the buffet
					button.btn.btn-primary(data-action='poker') Go to the video poker machines
				//- a.btn.btn-primary.toggle Toggle Poker
					.input-group
						input#bet.form-control(type='text' placeholder='bet' value='1')
						span.input-group-btn
							button.btn.btn-primary(data-action='poker') Go to the video poker machines