extends layout

block body
	-page_script = 'js/step2.js'
	.container
		.row
			.col-sm-12
				h1=title
				p=description
		.row#intro2
			.col-sm-12
				hr
				p Hows your life going?
				button.moodSelect(data-mood='denial') Pretty Good
				button.moodSelect(data-mood='perfect') Get me out of here
				.hidden.one
					p.response
					button.getCash Get a Cash Advance
				.hidden.two
					button.buyTicket Buy a Plane Ticket to Vegas ($150)
				.hidden.three
					p You look like you're ready to go.
					form(action='step3.html' method='get')
						input(type='hidden' name='name' value='')
						input(type='hidden' name='mood' value='')
						input(type='hidden' name='age' value='')
						input(type='hidden' name='location' value='')
						input(type='hidden' name='cash' value='')
						input(type='hidden' name='inventory' value='')
						button.fly Fly to Vegas