extends layout

block body
	-page_script = 'js/step3.js'
	.container
		.row
			.col-sm-12
				h1=title
				p=description
		.row#checkin
			.col-sm-12
				p You land at the airport and catch a free shuttle to a hotel called the Grand Excalibur Egyptian Resort and Spa.
				p Rooms at the Grand are $50/night, but if you sign up for the players club you'll get your first week for $250, lets do that.
				form(action='lobby.html' method='get')
					input(type='hidden' name='name' value='')
					input(type='hidden' name='mood' value='')
					input(type='hidden' name='age' value='')
					input(type='hidden' name='location' value='')
					input(type='hidden' name='cash' value='')
					input(type='hidden' name='inventory' value='')
					button Signup for the players club and 1 week stay