extends layout

block body
	-page_script = 'js/step3.js'
	.container
		.row
			.col-sm-12
				h1=title
				p=description
		.row#checkin
			.col-sm-12
				p You land at the airport and catch a free shuttle to a hotel called the Grand Excalibur Egyptian Resort and Spa.
				p Rooms at the Grand are $50/night, the Buffet is $25, but it's all you can eat.
				form(action='lobby.html' method='get')
					button.btn.btn-primary Check In